[Desktop Entry]
Version=1.0
Type=Application
Name=OpenAnime
Comment=WebGPU destekli anime izleme uygulaması
Exec=openanime
Icon=io.github.tuanapi.OpenAnime-Linux-Desktop-App
Terminal=false
Categories=AudioVideo;Video;Player;
StartupWMClass=OpenAnime
